.Rproj.user
.Rhistory
.RData
.Ruserdata

# Practical-01-Exclude-Data-Files
*.csv
*.xls
*.xlsx
*.zip
*.gz
*.gzip
*.feather
*.geofeather
*.parquet
*.geoparquet
*.Rproj

Week_1_prac/
Week_2_prac/
Week_3_prac/
Week_4_prac/
Week_4_prac/
Week_5_prac/
Week_6_prac/
Week_7_prac/
Week_8_prac/